.topfix{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
#top-nav{
    height: 40px;
    background-color: #CCC;
    line-height: 40px;
    background-image:-webkit-gradient(linear, center top, center bottom, from(#F3F3F3), to(#DFDFDF));
    text-align: center;
}
#main{
    margin-top: 40px;
}
footer{
    margin-top:40px;
}

.sec-list {
    padding: 10px;
}
.sec-list .list{

}
.sec-list .meta{
    text-align: center;
}
.sec-list .list li{
    margin:5px auto;
}
.sec-list .list .title{

}
.sec-list .list .content{
    font-size:0.8rem;
    color: #8A8585;
    padding: 5px 3px;
}